@import "task-03-2.css";

#tableId {
  border-collapse: collapse;
}
td {
  padding: 10px;
}
th,td {
  border: 1px solid white;
}

th {
  text-transform: uppercase;
}

tr {
  color: rgba(0, 0, 0, 0.53);
}
