td:nth-child(1) {
  text-transform: capitalize;
}
tr:nth-child(2n + 1) {
  background: rgb(177, 177, 251);
}

tr:nth-child(2n) {
  background: rgb(132, 132, 255);
}
tr:hover  {
  background: rgb(88, 88, 255);
}
