@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  box-sizing: border-box;
}

.but-main {
  display: flex;
  justify-content: center;
  width: 215px;
  height: 65px;
  background: rgb(189, 187, 187);
  border: 1.6px solid rgb(66, 66, 66);
  border-radius: 15px;
  box-shadow: inset 0 0 0 1.5px white;
}

.but-attachment {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(129, 129, 129, 0.651);
  box-shadow: 0 0 0px 0.5px rgb(145, 145, 145);
  background: linear-gradient(
    to bottom,
    rgb(214, 214, 214) 50%,
    rgb(129, 129, 129) 100%
  );
}

.but-attachment p {
  text-transform: uppercase;
  align-self: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  color: rgb(61, 61, 61);
  text-shadow: 0px 1px 1px rgb(235, 235, 235);
  z-index: 2;
}

.but-attachment p:after {
  position: absolute;
  font-size: 25px;
  content: "\2605";
  left: 15.5px;
  top: 5px;
  color: rgb(136, 136, 136);
}

.but-attachment p::before {
  position: absolute;
  font-size: 25px;
  content: "\2605";
  right: 13px;
  top: 5px;
  color: rgb(136, 136, 136);
}
