* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  position: relative;
}
.button {
  width: 50px;
  background: rgba(8, 8, 194, 0.394);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background: rgba(2, 2, 220, 0.51);
}
.buttonLeft {
  border-radius: 5px 0px 0px 5px;
}
.buttonRight {
  border-radius: 0px 5px 5px 0px;
}

.button div {
  width: 20px;
  height: 20px;
  border-top: 5px solid rgb(53, 193, 43);
  border-left: 5px solid rgb(53, 193, 43);
  z-index: -1;
}
.buttonLeft div {
    transform: rotate(-45deg);
}

.buttonRight div {
    transform: rotate(135deg);
}
.containerImg {
  width: 300px;
  position: relative;
    overflow: hidden;
}

.myImage {
  width: 300px;
  height: 200px;

  border: 4px solid;
  position: absolute;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.leftImage {
  background: url(asset/img1.jpg);
  transform: translateX(-100%);

}

.centerImage {
  background: url(asset/img2.jpg);
  transform: translateX(0%);

}

.rightImage {
  background: url(asset/img3.jpg);
  transform: translateX(100%);
  
}

.myImage.leftImage.leftImageToCenter {
  animation: fromLeftToCenter 4s;
}

.centerImageToRight {
  animation: fromCenterToRight 4s;
}

.rightImageToLeft {
  animation: fromRightToLeft 4s;
}

@keyframes fromLeftToCenter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fromCenterToRight {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fromRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
