.container {
  display: flex;
  justify-content: center;
}
.button {
  width: 50px;
  background: rgba(16, 16, 201, 0.394);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonLeft {
  border-radius: 5px 0px 0px 5px;
}
.buttonRight {
  border-radius: 0px 5px 5px 0px;
}

.button div {
width:20px;
height:20px;
border-top:5px solid rgb(53, 193, 43);
border-left:5px solid rgb(53, 193, 43);
z-index: -1;
}
.buttonLeft div{
    transform: rotate(-45deg);
}

.buttonRight div{
    transform: rotate(135deg);
    
}